{% extends 'admin/base.html.twig' %}

{% block title %}Listes des utilisateurs{% endblock %}

{% block body %}
                <h1>Listes des utilisateurs</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Nom / Prénom</th>
                        <th>Pseudo</th>
                        <th>Crée le</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.pseudo }}</td>
                            <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <button class="btn btn-dark"><a href="{{ path('user_show', {'id': user.id}) }}" class="text-decoration-none text-white">Voir l'utilisateur</a></button>
                                <button class="btn btn-warning"><a href="{{ path('user_edit', {'id': user.id}) }}" class="text-decoration-none text-white">Modifier l'utilisateur</a></button>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button class="btn btn-success"><a href="{{ path('user_new') }}" class="text-decoration-none text-white">Créer un nouveau utilisateur</a></button>

{% endblock %}
