{% extends 'base.html.twig' %}

{% block title %} Tag
{% endblock %}

{% block body %}
    <h1 class="text-center mt-4 mb-5">{{ tag.name }}</h1>
    <!-- Swiper -->
    <div class="container-fluid">
        <nav class="ariane" style="--bs-breadcrumb-divider: '/'; " aria-label="breadcrumb">
            <ol class="breadcrumb ml-2 text-light">
                <li class="breadcrumb-item">
                    <a href="/" class="text-decoration-none text-secondary">Accueil</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ path('category_index', {id : category.id}) }}" class="text-decoration-none text-secondary">{{ category.name }}</a>
                </li>
                <li class="breadcrumb-item active text-info" aria-current="page">{{ tag.name }}</li>
            </ol>
        </nav>

        <section>
            <h2 class="mt-5">Prochainement</h2>
            <div class="swiper mySwiper_next mt-5">
                <div class="swiper-wrapper swiper-next position-relative">
                    {% for nextVideo in nextVideos %}
                        <div class="swiper-slide d-flex justify-content-center align-items-center">
                            <img src="{{ (image_dir ~ '/' ~ nextVideo.image ) | imagine_filter('video_next') }}" alt="{{ nextVideo.title }}" class="img-fluid">
                            <h2 class="position-absolute font-weight-bold gradient">{{ nextVideo.title }}</h2>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <div class="container-fluid mt-5">
            <!-- Swiper -->
            <section>
                <h2 class="mt-5">Top 10 de nos abonnés</h2>
                <div class="swiper mySwiper_recommandation overflow-visible mb-5">
                    <div class="swiper-wrapper position-relative">
                        {% for video in sortedByFavourites %}
                            <div class="swiper-slide card border-0 bg-transparent text-white">
                                <div class="position-relative">
                                    {{ include('_includes/_videoRepeatedCode.html.twig') }}
                                </div>
                                <div class="card-body position-absolute">
                                    <h3 class="card-title">{{ video.title }}</h3>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </section>
        </div>
          {% include 'home/video_tendances.html.twig' %}

        {% include 'home/video_recommandations.html.twig' %}
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('swiper') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('swiper') }}
{% endblock %}
