{% extends 'base.html.twig' %}


{% block title %}Origins Digital{% endblock %}

{% block body %}
    {% include 'home/landing.html.twig' %}
    {% include 'home/video_recommandations.html.twig' %}
    {%  include 'home/video_tendances.html.twig' %}
    {% for video in videos %}
        {% if not video.Private or app.user %}
        <div class="modal" id="myModal{{ video.id }}">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">{{video.title}}</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <video  id="modal-player-video-{{ video.id }}" class="video-js videoPlayer" controls preload="none">
                            <source src="{{ video_dir ~ '/' ~ video.videoUrl }}" alt="Vidéo {{ video.title }}" type="video/mp4">
                        </video>
                        <h3>Titre : {{ video.title }}</h3>
                        <a href="{{ path('add_like', {id: video.id}) }}">Aimer la video</a>
                        <a href="{{ path('add_bookmark', {id: video.id}) }}">Mettre en favoris</a>
                        {{ video.description | raw }}
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    {% include 'home/genre.html.twig' %}
{% endblock %}
