<div class="container-fluid mt-4 mb-4 p-4">
    <!-- Swiper -->
    <section>
        <h2 class="mt-4 mb-4 p-4">Recommandation</h2>
            <div class="swiper mySwiper_recommandation overflow-visible mb-5">
                <div class="swiper-wrapper position-relative">
                    {% for video in videos %}
                            <div class="swiper-slide card border-0 bg-transparent text-white">
                                <div class="position-relative">
                                 <a href="#" data-video-id="{{ video.id }}" {{ stimulus_action('video_modal', 'findVideo') }}>
                                <img src="{{ (image_dir ~ '/' ~ video.image ) | imagine_filter('thumbnail_locked') }}" alt="{{ video.title }}" class="img-fluid">
                                <i class="fa-solid fa-play fa-2xl position-absolute lock"></i>
                                 </a>
                                </div>
                                <div class="card-body position-absolute">
                                    <h3 class="card-title">{{ video.title }}</h3>
                                </div>
                            </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
    </section>
</div>
