{% if video.Private and not app.user %}
    <a href="{{ path('app_login') }}">
        <img src="{{ (image_dir ~ '/' ~ video.image ) | imagine_filter('thumbnail_locked') }}" alt="{{ video.title }}" class="img-fluid img-tendance">
        <i class="fa-solid fa-lock lock fa-2xl position-absolute"></i>
    </a>
{% else %}
    <a href="#" data-video-id="{{ video.id }}" {{ stimulus_action('video_modal', 'findVideo') }}>
        <img src="{{ (image_dir ~ '/' ~ video.image ) | imagine_filter('thumbnail_locked') }}"
             alt="{{ video.title }}" class="img-fluid">
        <i class="fa-solid fa-play lock fa-2xl position-absolute"></i>
    </a>
{% endif %}
