 {% if not video.Private or app.user %}
<section class="containeur-fluid ">
    <div class="modal" id="myModal{{ video.id }}">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content text-secondary bg">
                <div class="modal-header p-0">
                    <h3 class="modal-title">{{ video.title }}</h3>
                    <i class="fa-solid fa-xmark fa-2xl text-info" data-bs-dismiss="modal"></i>
                </div>
                <div class="modal-body row">
                    <div class="col-lg-8">
                        <video id="modal-player-video" class="video-js videoPlayer" controls preload="none">
                            <source id="main-video-source" src="{{ video_dir ~ '/' ~ video.videoUrl }}" alt="{{ video.title }}" type="video/mp4">
                        </video>
                        <h3>{{ video.title }}</h3>
                        {% if app.user %}
                            {{ component('like', { 'video': video }) }}
                            {{ component('bookmark', { 'video': video }) }}
                        {% else %}
                            <form action="{{ path('app_login') }}" method="get">
                                <button class="btn btn-info btn-sm shadow-sm text-white">
                                    Connectez vous pour liker et mettre en favoris cette video
                                </button>
                            </form>
                        {% endif %}

                        {{ video.description | raw }}
                    </div>
                    <div class="col-lg-4 d-flex flex-column align-items-center">
                        {% for video in videos|reverse|slice(0, 3) %}
                            <div class="card mb-2 bg-transparent border-0" style="width: 70%;">
                                <div class="video-container position-relative" data-bs-target="#myModal{{ video.id }}" data-bs-toggle="modal">
                                    {% if video.Private and not app.user %}
                                        <a href="{{ path('app_login') }}">
                                            <img src="{{ (image_dir ~ '/' ~ video.image ) | imagine_filter('thumbnail_locked') }}" alt="{{ video.title }}" class="video-thumbnail img-fluid img-tendance">
                                            <i class="fa-solid fa-lock lock fa-2xl position-absolute"></i>
                                        </a>
                                    {% else %}
                                        <img src="{{ (image_dir ~ '/' ~ video.image ) | imagine_filter('thumbnail_locked') }}" alt="{{ video.title }}" class="video-thumbnail img-fluid">
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">{{ video.title }}</h3>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    {% endif %}
