{% extends 'admin/base.html.twig' %}

{% block title %}Video {% endblock %}

{% block body %}
    <div class="mb-4"><a class="text-secondary" href="{{ path('index') }}"><i class="fa-solid fa-arrow-turn-up fa-rotate-270 text-secondary"></i> Accueil
        </a>
    </div>
    <h1>Videos</h1>
    <div class="mt-2 mb-2 btn btn-info"><a href="{{ path('app_admin_video_new') }}" class="text-decoration-none text-secondary">
            Ajouter une nouvelle vidéo</a>
    </div>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(videos) }}
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Temps</th>
            <th>Nombre vues</th>
            <th>Privée</th>
            <th>Date sortie</th>
            <th>A venir</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr class="position-relative">
                <td>{{ video.id }}</td>
                <td>{{ video.title }}</td>
                <td>{{ video.time }}</td>
                <td>{{ video.views }}</td>
                <td>{{ video.private ? 'Yes' : 'No' }}</td>
                <td>{{ video.realeaseDate ? video.realeaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ video.upcoming ? 'Yes' : 'No' }}</td>
                <td>{{ video.description }}</td>
                <td>
                        <a href="{{ path('app_admin_video_edit', {'slug': video.slug}) }}"
                           class="text-decoration-none stretched-link">Modifier la vidéo</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(videos) }}
    </div>
{% endblock %}
