{% extends 'base.html.twig' %}


{% block title %}Catégories
{% endblock %}

{% block body %}
	<h1 class="text-center mt-4">Documentaires</h1>
	<!-- Swiper -->
	<div class="container-fluid">
		<nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
			<ol class="breadcrumb ml-2">
				<li class="breadcrumb-item">
					<a href="/" class="text-decoration-none link-dark">Accueil</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{path ('app_category_index')}}" class="text-decoration-none link-dark">Catégories</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Documentaires</li>
			</ol>
		</nav>
		<section>
			<h2 class="mt-4 mb-4">Nouveautés</h2>
			<div class="swiper mySwiper_nouveaute">
				<div class="swiper-wrapper">
					{% for i in 0..9 %}
						<div class="swiper-slide">
							<video width="100%" height="240" controls>
								<source src="/uploads/{{ i+1 }}.mp4" alt="Vidéo {{ i+1 }}" type="video/mp4">
							</video>
						</div>
					{% endfor %}
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</section>
		<div>
			<div class="row align-items-start">
				<h2 class="text-center mt-4 mb-4">Top 10 de nos abonnés</h2>
				{% for i in 0..4 %}
					<div class="col p-2">
						<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active" data-bs-interval="10000">
									<img src="https://fakeimg.pl/200x150/?text=Image" class="card-img-top" alt="PUB">
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<div class="container card mt-4 mb-4 p-0">
			<img src="https://fakeimg.pl/1320x200/?text=PUB" class="card-img-top" alt="PUB">
		</div>
	</div>

{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('swiper') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('app') }}
	{{ encore_entry_script_tags('swiper') }}
{% endblock %}
