{% extends 'base.html.twig' %}

{% block title %}Favoris{% endblock %}

{% block body %}
    <h2 class="text-center mb-5 mt-3">Vos vidéos favorites</h2>

    <div class="row">
        <div class="latestBookmarkContainer col-lg-6 d-flex flex-column align-items-center justify-content-center">
            <h3 class="p-2 text-center">Dernière vidéo mise en favoris</h3>
            {% for video in app.user.bookmarks %}
                {% if loop.last %}
                    <div class="latestBookmark card border-0 bg-transparent text-white" data-bs-target="#myModal{{ video.id }}" data-bs-toggle="modal">
                        <a href="#" data-video-id="{{ video.id }}">
                            <video class="video-js videoBookmark img-fluid hover-to-play" {{ stimulus_controller('video_player') }}
                                   controls poster="{{ image_dir ~ '/' ~ video.image }}" preload="none">
                                <source src="{{ video_dir ~ '/' ~ video.videoUrl }}" alt="Vidéo
                            {{ video.title }}" type="video/mp4">
                            </video>
                        </a>
                        <div class="text-secondary m-4">
                            <h3>{{ video.title }}</h3>
                            <p>
                                {{ video.description | raw }}
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% else %}
            {% endfor %}
        </div>

        <div class="col-lg-3 d-flex flex-column align-items-center justify-content-center bookmarkContainer">
            <div class="swiper videoBookmarksSwiper">
                <div class="swiper-wrapper bookmarkWrapper">
                    {% for video in app.user.bookmarks|reverse %}
                        <div class="swiper-slide card border-0 bg-transparent text-white swiper-slide-bookMarks mt-5" data-bs-target="#myModal{{ video.id}}" data-bs-toggle="modal">
                            <a href="#" data-video-id="{{ video.id }}" {{ stimulus_action('video_modal', 'findVideo') }}>
                                <img src="{{ (image_dir ~ '/' ~ video.image ) | imagine_filter('thumbnail_locked') }}"
                                     alt="{{ video.title }}" class="img-fluid">
                                <i class="fa-solid fa-play lock fa-2xl position-absolute"></i>
                            </a>
                        </div>
            {% else %}
                <p>Pas de vidéos mises en favoris...</p>
            {% endfor %}
        </div>
                <div class="swiper-button-prev button-prev"></div>
                <div class="swiper-button-next button-next"></div>
    </div>
        </div>
    </div>
{% endblock %}
