<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/logo_origins.png') }}"/>
        <script src="https://kit.fontawesome.com/848d5c22f9.js" crossorigin="anonymous"></script>
		<title>
			{% block title %}Origin Digital
			{% endblock %}
		</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('swiper') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('swiper') }}

        {% endblock %}
</head>
<body class="bg text-secondary" {{ stimulus_controller('video_modal') }}>

{% if app.request.get('_route') not in ['app_register', 'app_login'] %}
    {% include '_includes/_navbar.html.twig' %}
{% endif %}

{% include '_includes/_flash.html.twig' %}

<main class="text-secondary">
    {% block body %}{% endblock %}
</main>
{{ component('VideoModal') }}
{% if app.request.get('_route') not in ['app_register', 'app_login'] %}
    {% include '_includes/_footer.html.twig' %}
{% endif %}
{{ render_esi(path('ch_cookie_consent.show_if_cookie_consent_not_set')) }}


</body>
</html>
