<aside class="col-3 border border-light bg-secondary p-2">
    <article class="card mb-3">
        <div class="hearder p-2
">
            Accueil administration
        </div>
        <div class="card-body">
            <p><a href="{{ path('index') }}">Retour à l'accueil de l'administration</a></p>

        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder p-2">
            Utilisateurs
        </div>
        <div class="card-body">
            <p><a href="{{ path('user_index') }}">Liste des Utilisateurs</a></p>

        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder p-2">
            Genres
        </div>
        <div class="card-body">
            <p><a href="#">Liste des genres</a></p>
            <p><a href="#">Ajouter un genre</a></p>
        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder p-2">
            Catégories
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_categories_index') }}">Liste des catégories</a></p>
            <p><a href="{{ path('admin_categories_new') }}">Ajouter une catégorie</a></p>
        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder p-2">
            Vidéos
        </div>
        <div class="card-body">
            <p><a href="{{ path('app_admin_video_index') }}">Liste des vidéos</a></p>
            <p><a href="{{ path('app_admin_video_new') }}">Ajouter une vidéo</a></p>
        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder p-2">
            Carouselle
        </div>
        <div class="card-body">
            <p><a href="#">Liste des carousels</a></p>
            <p><a href="#">Ajouter un carousel</a></p>
        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder p-2">
            Publicités
        </div>
        <div class="card-body">
            <p><a href="#">Liste des publicités</a></p>
            <p><a href="#">Ajouter une publicité</a></p>
        </div>
    </article>
</aside>
