<aside class="col-3 border border-light bg-secondary p-2">
    <article class="card mb-3">
        <div class="hearder p-2
">
            Accueil administration
        </div>
        <div class="card-body">
            <p><a href="{{ path('index') }}">Retour à l'accueil de l'administration</a></p>

        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder p-2">
            Utilisateurs
        </div>
        <div class="card-body step-user">
            <p><a href="{{ path('user_index') }}">Liste des Utilisateurs</a></p>

        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder p-2">
            Categories
        </div>
        <div class="card-body step-category">
            <p><a href="{{ path('app_admin_category_index') }}">Liste des categories</a></p>
            <p><a href="{{ path('app_admin_category_new') }}">Ajouter une categorie</a></p>
        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder p-2">
            Tags
        </div>
        <div class="card-body step-tags">
            <p><a href="{{ path('app_admin_tag_index') }}">Liste des tags</a></p>
            <p><a href="{{ path('app_admin_tag_new') }}">Ajouter un tag</a></p>
        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder p-2">
            Vidéos
        </div>
        <div class="card-body step-videos">
            <p><a href="{{ path('app_admin_video_index') }}">Liste des vidéos</a></p>
            <p><a href="{{ path('app_admin_video_new') }}">Ajouter une vidéo</a></p>
        </div>
    </article>
</aside>
